.card{
    background-color: #ffffff;
    background: rgba(255, 255, 255, 0.8);    
    border-style: outset;
    border-color: #575757;       
    margin-left: 25px;
    margin-right: 25px;
    display: table; 
    text-align: center;
}
/*sadrzaj kartice*/

.content{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.button{
    width: 90%;
}

@media only screen and (max-width: 2000px){
    .card{
        height: 400px;
    }
    .button{
        font-size: 1.25rem;
    }
    .content{
        justify-content: space-between;
        padding-top: 75px;
        padding-bottom: 75px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (max-width: 415px){
    h3{
        font-size: 1.275rem;
    }
    .card{
        height: 275px;
    }
    .button{
        font-size: 1.15rem;
    }
    .content{
        justify-content: space-around;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 25px;
        padding-right: 25px;
    }
}