.display{
    min-height: calc(100vh - 64px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 500px;
    width: 500px;
    background-color: white;
    opacity: 0.95;
    border: solid;
    border-color: black;
    border-width: thin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.button{
    width: 100%;
}

@media only screen and (max-width: 2000px){
    .container{
        height: 500px;
        width: 500px;
    }
}

@media only screen and (max-width: 550px){
    .container{
        height: 450px;
        width: 400px;
    }
}

@media only screen and (max-width: 415px){
    .container{
        height: 425px;
        width: 350px;
    }
}

@media only screen and (max-width: 345px){
    .container{
        height: 425px;
        width: 325px;
    }
}

@media only screen and (max-width: 330px){
    .container{
        height: 425px;
        width: 290px;
    }
}