/*bijela pozadina za sadrzaj stranica*/

.white{
    min-height: calc(100vh - 64px);
    height: auto;
    margin: 0 10% auto;
    background-color: white;
    border-right: solid;
    border-left: solid;
    border-color: black;
    border-width: thin;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%
}

@media only screen and (max-width: 3000px){
    .white{
        padding-left: 5%;
        padding-right: 5%;
        margin: 0 10% auto;
    }
}


@media only screen and (max-width: 400px){
    .white{
        padding-left: 3%;
        padding-right: 3%;
        margin: 0 5% auto;
    }
}